<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="app">
    <h1>Grupy</h1>
    <div th:each="group, groupStat : ${groups}">
        <h2>Grupa <span th:text="${groupStat.index + 1}"></span></h2>
        <ul>
            <li th:each="team : ${group}" th:text="${team.name}"></li>
        </ul>
    </div>
    <form action="/generateSchedule" method="post">
        <button type="submit">Generuj harmonogram</button>
    </form>
</div>
</body>
</html>
