<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmonogram</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="app">
    <h1>Harmonogram</h1>
    <div th:each="match, matchStat : ${schedule}">
        <form action="/updateScore" method="post">
            <span th:text="${match.team1.name}"></span>
            <input type="number" name="score1" min="0" th:value="${match.score1}" th:disabled="${match.score1 != 0 || match.score2 != 0}">
            <span>vs</span>
            <input type="number" name="score2" min="0" th:value="${match.score2}" th:disabled="${match.score1 != 0 || match.score2 != 0}">
            <span th:text="${match.team2.name}"></span>
            <input type="hidden" name="matchIndex" th:value="${matchStat.index}">
            <button type="submit" th:if="${match.score1 == 0 && match.score2 == 0}">Zapisz wynik</button>
            <button type="submit" th:if="${match.score1 != 0 || match.score2 != 0}">Edytuj wynik</button>
        </form>
    </div>
    <form action="/generateFinals" method="post">
        <button type="submit">Generuj finały</button>
    </form>
    <h2>Tablica punktów</h2>
    <ul>
        <li th:each="team : ${teams}"
            th:text="${team.name + ': ' + team.points + ' pkt'}"></li>
    </ul>
</div>
</body>
</html>
